@{
    ViewData["Title"] = "Privacy Policy";
}
<h3>@ViewData["Title"]</h3>


<p>At IIE CMCS, we are committed to protecting your privacy and ensuring the security of your personal information. Our Privacy Policy outlines how we collect, use, and protect your data when you visit our website or interact with our platform.</p>
<h3>Information Collection</h3>
<p>We may collect personal information, such as your name, email address, phone number, and payment details, when you submit a claim or sign up for our newsletter. We also collect non-personal information, such as your IP address, browser type, and browsing behavior, to improve our website and enhance your experience.</p>
<h3>Cookie Policy</h3>
<p>We use cookies and similar tracking technologies to analyze website traffic, customize your shopping experience, and provide targeted advertisements. You have the option to disable cookies in your browser settings, but please note that certain features of our website may not function properly without them.</p>
<h3>Updates to Privacy Policy</h3>
<p>We may update our Privacy Policy from time to time to reflect changes in our practices or legal requirements. We will notify you of any significant changes by posting the updated policy on our website. Your continued use of our website after the changes have been made constitutes acceptance of the revised Privacy Policy.</p>
<p>
    By using the CMCS website, you consent to the collection and use of your information as described in this Privacy Policy. If you have any questions or concerns about our privacy practices, please contact us at <span class=" Highlight">privacy@CMCS.com.</span>

    Last Updated: 5 Septmber 2024
</p>

