@model CMCS.Models.Claims

@{
    ViewData["Title"] = "Edit";
}

<h1>Approve Claims</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoursWorked" class="control-label"></label>
                <input asp-for="HoursWorked" class="form-control" />
                <span asp-validation-for="HoursWorked" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HourlyRate" class="control-label"></label>
                <input asp-for="HourlyRate" class="form-control" />
                <span asp-validation-for="HourlyRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClaimDate" class="control-label"></label>
                <input asp-for="ClaimDate" class="form-control" />
                <span asp-validation-for="ClaimDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Documentation" class="control-label"></label>
                <input asp-for="Documentation" class="form-control" />
                <span asp-validation-for="Documentation" class="text-danger"></span>
                <div class="form-group d-flex gap-2">
                    <input type="submit" value="Approve" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-sm btn-outline-info">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
